@import '../../../styles/_colors.scss';
@import '../../../styles/viewports';

.uploadProgress {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  span {
    background: $col_purple-2;
    display: block;
    height: 3px;
  }
}

mat-list {
  bottom: 146px;
  left: 0;
  overflow-y: scroll;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 53px;
  -webkit-overflow-scrolling: touch;

  p.chat-date {
    color: $col_grey-1;
    margin-bottom: 30px;
    text-align: center;
  }

  mat-list-item {
    height: auto;
    margin: 0 auto;
    max-width: 800px;
  }
}

@media screen and (max-width: $break-width-1) {
  mat-list {
    bottom: 106px;
  }
}
