@import '../../../styles/_colors.scss';

.messages-list {
  bottom: 146px;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 100px;

  p.chat-date {
    color: $col_grey-1;
    margin-bottom: 30px;
    text-align: center;
  }

  .messages-list-inner {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 5%;
  }
}
