@import '../../../../styles/colors';

:host {
  width: 100%;

  .chat-messages {
    .chat-message {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
  
      &.chat-image-message {
        margin-bottom: 50px;
        padding-top: 30px;
  
        .chat-content {
          background: transparent;
          min-width: 200px;
          padding: 0;
          box-shadow: none;
  
          h5 {
            margin-bottom: 10px;
          }
  
          span.time {
            right: 0;
            top: 5px;
          }  
  
          .chat-image {
            max-width: 600px;
            overflow: hidden;
            padding-left: 15px;
            position: relative;
  
            &:before {
              background: $col_grey-3;
              content: "";
              height: 100%;
              left: 0;
              position: absolute;
              width: 3px;
            }
  
            img {
              border-radius: 8px;
              box-shadow: 0 0 1px 0 rgba(0,0,0,0.2);
              display: block;
              max-width: 100%;
            }
          }
        }
  
        &.chat-other {
          .chat-content {
            box-shadow: none;
          }
        }
      }
  
      &.chat-other {
        justify-content: flex-start;
  
        .user-avatar {
          display: block;
          margin-right: 15px;
  
          img {
            border-radius: 100%;
            width: 40px;
          }
        }
  
        .chat-content {
          background: transparent;
          box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);
        }
      }
  
      .user-avatar {
        display: none;
      }
  
      .chat-content {
        background: $col_purple-1;
        border-radius: 8px;
        min-width: 200px;
        padding: 10px 50px 12px 15px;
        position: relative;
  
        h5 {
          font-size: 16px;
          font-weight: 500;
          margin: 0 0 5px 0;
        }
  
        p {
          line-height: 130%;
          margin: 0;
        }
  
        span.time {
          bottom: 12px;
          font-size: 10px;
          opacity: 0.5;
          position: absolute;
          right: 15px;
        }
      }
  
      .chat-message-inner {
        display: flex;
        max-width: 600px;
      }
    }
  
    .chat-joined {
      margin: 15px 0 20px 0;
      text-align: center;
      width: 100%;
  
      p {
        margin: 0;
      }
    }
  }
}
